body{
background-color: lightblue;
font-family: Arial;
text-align: center;
padding-top: 50px;
}

.card{
    width:300px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius:15px;
    box-shadow:5px 5px 10px gray
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

button{
    background-color: blue;
    color: white;
    padding:10px;
    border:none;
    cursor:pointer;
}

button:hover{
background-color: darkblue;
}