* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Dm Sans", sans-serif;
}

body {
  min-height: 100vh;
  background: #f7f5f2;
  /* background-image:
    radial-gradient(at 15% 20%, #af86cb 0px, transparent 30%),
    radial-gradient(at 20% 10%, #f5cbd9 0px, transparent 60%),
    radial-gradient(at 90% 15%, rgba(52, 211, 153, 0.3) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(250, 204, 21, 0.3) 0px, transparent 55%),
    radial-gradient(at 60% 100%, rgba(163, 230, 53, 0.25) 0px, transparent 50%);*/
}

ul {
  list-style: none;
  display: flex;
  gap: 15px;
  justify-content: center;
}

a {
  text-decoration: none;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.navbar {
  border: #cdb5d8 1px;
  border-style: solid;
  width: 800px;
  height: 60px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
