a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
  color: white;
}

body {
  background-color: lightblue;
}

img {
  display: block;
  margin-left: 800px;
  margin-right: 900px;
}